.Language {
  width: 100px;
  height: 20px;
  border: 1px solid #777676;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
