#Header {
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.Logo {
  width: 10vh;
}

.Resume {
  position: absolute;
  text-decoration: none;
  font-size: calc(10px + 1vmin);
  top: calc(15px + 1vmin);
  right: calc(15px + 1.05vmin);
  color: black;
  border: 1px solid black;
  border-radius: 0.25em;
  padding: 0.55rem 1rem;
  transition: background-color 200ms ease-in 0s, border-color 200ms ease-in 0s,
    color 200ms ease-in 0s;
}

.Resume:hover,
.Resume:focus {
  border-color: #6c91c2;
  color: white;
  background: #6c91c2;
}

.ImgContainer {
  padding-right: 4rem;
}

.Img {
  height: 25vh;
  width: 25vh;
  pointer-events: none;
}

.TextContainer {
  text-align: center;
}

.Title {
  font-size: calc(16px + 2vmin);
  font-weight: bold;
  margin-bottom: 1rem;
}

.TypedText {
  font-size: calc(10px + 1vmin);
}

.Link {
  margin-top: 6vh;
  margin-left: 8vh;
  padding: 0;
}

.Social {
  padding: 0 7vh 0 0;
  display: inline;
  text-decoration: none;
}

.Social:hover img {
  cursor: pointer;
  transition: 0.2s;
  transform: scale(1.25);
}

.Social a {
  text-decoration: none;
}

.Social img {
  width: 3.125rem;
}

@media only screen and (max-device-width: 800px) {
  #Header {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
  }

  .TextContainer {
    max-width: 60vmin;
    margin-left: 2rem;
  }

  .Link {
    margin-left: 2rem;
  }
}

@media only screen and (max-device-width: 500px) {
  #Header {
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
  }

  .ImgContainer {
    padding: 8rem 0rem 2rem;
  }

  .Img {
    height: 60vw;
    width: 60vw;
  }

  .Social img {
    width: 1.25rem;
  }
}
