.Button {
  background-color: transparent;
  position: fixed; 
  width: 10em;
  height: 2em;
  left: 3em;
  bottom: 2em;
  text-decoration: none;
  font-size: calc(10px + 1vmin);
  border: 1px solid black;
  border-radius: 0.25em;
  transition: background-color 200ms ease-in 0s, border-color 200ms ease-in 0s, color 200ms ease-in 0s;
}

.Button:hover, .Button:focus {
  border-color: #8B2635;
  color: white;
  background: #8B2635;
}

.Button:hover {
  cursor: pointer;
}

.Text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.3rem;
}

.Link {
  position: fixed; 
  bottom: 1.25em;
  right: 3em;
  padding: 0;
}

.Social {
  margin: 0 1vh;
  display: inline;
  text-decoration: none;
}

.Social:hover img {
  cursor: pointer;
}

.Social a {
  text-decoration: none;
}

.Social img {
  width: 1.875rem;
}