.Button {
  position: fixed; 
  width: 10em;
  height: 2em;
  left: 3em;
  bottom: 2em;
}

.Button:hover {
  cursor: pointer;
}

.Text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.3rem;
}

.Link {
  position: fixed; 
  bottom: 1.25em;
  right: 3em;
  padding: 0;
}

.Social {
  margin: 0 1vh;
  display: inline;
  text-decoration: none;
}

.Social:hover img {
  cursor: pointer;
}

.Social a {
  text-decoration: none;
}

.Social img {
  width: 1.875rem;
}