.Outer {
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Box {
  position: relative;
  border: 1px solid #C4C4C4;
  border-radius: 7px;
  width: 600px;
  margin-left: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.Category {
  height: 100%;
  width: 20px;
  border-radius: 6px;
  position: absolute;
  float: left;
}

.FilterControl {
  display: flex;
  justify-content: center;
  margin: 2rem 1rem 0rem;
  font-size: calc(20px + 0.2vw);
}

.FilterButton {
  display: flex;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 4rem;
  width: 1em;
}

.FilterControl button:hover, .FilterControl button:focus, .FilterControl .active {
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
}

.TextContainer {
  padding-left: 2.2rem;
}

.Duration {
  text-transform: uppercase;
  position: absolute;
  z-index: 1;
  color: black;
  font-size: 14px;
  font-style: italic;
  transform: rotate(180deg);
  writing-mode: vertical-lr;
}

.Title {
  font-weight: bold;
  font-size: 18px;
  /* text-transform: uppercase; */
  margin-top: 0.7rem;
  margin-bottom: 0;
}

.Subtitle {
  font-size: 14px;
  margin-bottom: 0.5rem;
  color: #777676;
  font-style: italic;
}

.Language {
  width: 100px;
  height: 20px;
  border: 1px solid #777676;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  float: left;
  margin: 0 0.5rem 0  0;
  font-size: 12px;
}

