.Outer {
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Box {
  border: 1px solid #C4C4C4;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border-radius: 7px;
  width: 600px;
  min-height: 200px;
  overflow:hidden;
  margin: 1rem;
  z-index: 0;
}

.Category {
  min-height: 250px;
  width: 30px;
  border-radius: 7px;
  position: absolute;
  float: left;
  z-index: 1;
  overflow:hidden;
}

.FilterControl {
  display: flex;
  justify-content: center;
  margin: 2rem 1rem 0rem;
  font-size: calc(20px + 0.2vw);
}

.FilterButton {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 3rem;
  width: 6em;
}

.FilterControl button:hover, .FilterControl button:focus, .FilterControl .active {
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 3rem;
}

.TextContainer {
  padding-left: 2.75rem;
}

.Duration {
  text-transform: uppercase;
  /* width: 3rem; */
  float: left;
  position: absolute;
  z-index: 2;
  margin-top: 7.25rem;
  margin-left: -3.5rem;
  /* padding-left: 0.7rem; */
  color: white;
  font-size: 14px;
  font-style: italic;
  /* margin-bottom: 1em; */
  transform: rotate(-90deg);
}

.Title {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 0.7rem;
  margin-bottom: 0.5rem;
}

.Language {
  width: 100px;
  height: 20px;
  border: 1px solid #777676;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

